<div class="teleporter">
	<div class="teleporter-inner">
		<input type="text" autocomplete="off" class="a11y-ignore" tabindex="-1">
		<div class="teleporter-icon">
			<img src="assets/teleporter-accept.png" class="teleporter-accept">
			<img src="assets/teleporter-delete.png" class="teleporter-delete">
		</div>
	</div>
</div>