{{! Maintainers - Tom Greenfield, Icons - Mark James }}
<div id="teleporter">
	<div id="teleporter-inner">
		<input type="text" maxlength="20" autocomplete="off"/>
		<img src="assets/teleporter-accept.png"/>
	</div>
</div>