<div class="teleporter">
	<div class="teleporter-inner">
		<input type="text" autocomplete="off" tabindex="-1" class="a11y-ignore"/>
		<div class="teleporter-icon">
			<img src="assets/teleporter-accept.png" class="teleporter-accept"/>
			<img src="assets/teleporter-delete.png" class="teleporter-delete"/>
		</div>
	</div>
</div>